{
  "icc": false,
  "log-level": "info",
  "iptables": true,
  "userns-remap": "default",
  "live-restore": true,
  "default-ulimit": [ "nofile=100:200", "nproc=1024:2048" ],
  "userland-proxy": false,
  "no-new-privileges": true,
  "storage-driver": "overlay2"
}
